<h2 class="mb-4">My Bookings</h2>

<% if (bookings.length === 0) { %>
  <p>No bookings yet 😢</p>
<% } %>

<div class="row">
<% bookings.forEach(b => { %>
  <div class="col-md-4 mb-4">
    <div class="card h-100">

     <img src="<%= b.listing.image.url %>" class="card-img-top" style="height: 200px; object-fit: cover;" />
      <div class="card-body">
        <h5><%= b.listing.title %></h5>

        <p>📅 <b>Check-in:</b> <%= b.checkIn.toDateString() %></p>
        <p>📅 <b>Check-out:</b> <%= b.checkOut.toDateString() %></p>
        <p>💰 <b>Total:</b> ₹ <%= b.totalPrice %></p>
      </div>

    </div>
  </div>
<% }) %>
</div>